.note {
  margin-top: 4px;
  padding: 0 57px 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 273px;
  height: 24px;
  background-color: #f9f9f9;
  cursor: grab;
}

.btnDrag {
  cursor: grab;
}

.noteName {
  margin: 0 auto 0 24px;
  font-size: 16px;
  color: #5B5D66;
  text-transform: capitalize;

  input {
    max-width: 125px;
    font-size: 16px;
    color: #5B5D66;
    text-transform: capitalize;
    border: none;

    &:focus{
      outline: none;
    }
  }
}

.btnGray {
  svg path {
    stroke: #5B5D66;
  }
}
