@import "./common/fonts";
@import "./common/variables";

*,
*::before,
::after {
  box-sizing: border-box;
  font-family: $font-family-main;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  font-family: $font-family-main;
  background-color: #F9FAFC;
}

h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
  padding: 0;
}
