@import "@styles/common/variables";

.collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (max-width: $s) {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: start;
  }
}

.btnCollapse {
  transition: all .3s ease-in-out;

  &.active {
    transform: rotateX(180deg);
  }
}

.nameCollection {
  margin-left: 24px;
  display: inline-flex;
  align-items: center;
  gap: 17.5px;

  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;

  input {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    border: none;
    background: #F9FAFC;

    &:focus{
      outline: none;
    }
  }

  @media (max-width: $s) {
    margin-left: 10px;

    input {
      max-width: 150px;
    }
  }
}

@media (max-width: $s) {
  .editBlock {
    margin-left: auto;
    margin-bottom: 8px;
  }
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;

  &.active {
    grid-template-rows: 1fr;
  }

  &Inner {
    overflow: hidden;
  }
}
