@import "@styles/common/variables";

.searchInput {
  position: relative;
  padding-left: 34px;
  height: 18px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background: url("@assets/layout/header/search.svg") center center no-repeat;
  }

  input {
    width: 235px;
    height: 18px;
    border: none;
    color: #A6A7AC;

    &::placeholder {
      font-family: "SF Pro", sans-serif;
      font-weight: 400;
      color: #A6A7AC;
    }

    &:focus{
      outline: none;
    }

    @media (max-width: $m) {
      display: none;
    }
  }
}
