.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.relocation, {
  position: absolute;
}

.personal {
  position: absolute;
}
