.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F9FAFC;
  height: 100vh;
  overflow: hidden;
}

.productWrapper {
  position: relative;
  max-width: 800px;
  max-height: 550px;
  width: 100%;
  height: 100%;

  &:hover {
    .product-1 {
      transform: rotate(33deg) scale(95%) translate(-140px, 20px);
    }

    .product-2 {
      transform: scale(100%) translate(-30px, 20px);
    }

    .product-3 {
      transform: rotate(40deg) scale(110%) translate3d(39px, -12px, 0px);

    }
  }
}

.product-1,
.product-2,
.product-3 {
  position: absolute;
  transition: all .3s ;
  pointer-events: none;
}

.product-1{
  top: 3.8%;
  left: 3.8%;
  transform: scale(85%);

}
.product-2{
  top: 5%;
  left: 19%;
  transform: scale(85%);
}
.product-3{
  top: 12%;
  right: -3%;
}

.btn {
  width: 175px;
  height: 46px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 300;
  cursor: pointer;
  transition: font-size .3s ease-in-out;

  &:hover {
    font-size: 16px;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EBFFFC;
  height: 100vh;
}

.wrapperSlider {
  width: 100%;
  //overflow: hidden;

  .slider {

    min-height: 565px;

  }
}

.info {
  position: absolute;
  top: 80px;
  left: 80px;
  //max-width: 245px;
  color: #9E9E9E;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: left;
}

.slide {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    transform: scale(60%);
    transition: all .3s ease-in-out;
  }
}

.slideCentered {
  img {
    transform: scale(100%);
    transition: all .3s ease-in-out;
  }
}

.slide1 {
  //background-color: #EBFFFC;
  //rgb(235, 255, 252)
}

.slide2 {
  //background-color: #EFF2FF;
  //rgb(239, 242, 255)
}

.slide3 {
  //background-color: #F6E1EE;
  //rgb(246, 225, 238)
}
